<body>
  <div class="center-container">
    <div class="inside-center-container">
      <h2>Add Flight</h2>
      <form method="POST" id="add">
        <div>
          <label>Flight:</label> <input type="text" placeholder="Flight Number">
        </div>
        <div>
          <label>Duration:</label> <input type="text" placeholder="Flight Number">
        </div>
        <div>
          <label>Origin:</label> <input type="text" placeholder="Flight Number">
        </div>
        <div>
          <label>Date</label> <input type="date">
        </div>
        <div>
          <label>Destination</label> <input type="text" placeholder="Flight Number">
        </div>
        <div>
          <label>Aircraft type:</label> <input type="text" placeholder="Flight Number">
        </div>
        <a href="/account">Cancel</a>
        <button type="submit">Add</button>
      </form>
    </div>
  </div>
</body>