<body>
  <div class="center-container">
    <div class="inside-center-container">
      <p id="welcome-text">WELCOME!</p>
      <a id="login-button" href="/login">Login</a>
      <a class="register-button" href="/register">Register</a>
    </div>
  </div>
</body>