<body>
  <div class="center-container">
    <div class="inside-center-container">
      <h2>Login</h2>
      <form method="POST" id="login">
        <label>Username: </label>
        <input type="text" name="username" placeholder="Username...">
        <label>Password: </label>
        <input type="password" name="password" placeholder="Password...">
        {{#if error}}
          <p class="error">{{error}}</p>
        {{/if}}
        <div id="login-container">
          <button class="button-prim" type="submit">Login</button>
          Don't have an account?
          <a href="/register" class="login-button-sec">Register</a>
        </div>
      </form>
    </div>
  </div>
</body>