body {
  font-family: Arial, Helvetica, sans-serif;

  /* https://www.w3schools.com/html/html_images_background.asp */
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  margin: 0px;
  height: 100vh;
  width: 100vw;

  /* https://stackoverflow.com/questions/17756649/disable-the-horizontal-scroll */
  max-width: 100%;
  overflow-x: hidden;
}

button:hover {
  cursor: grab;
}

#header {
  display: flex;
  flex-direction: row;
  background-color: #154479;
  height: 80px;
  align-items: center;
  font-size: 25px;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-color: rgb(255, 240, 109);
  border-bottom-width: 5px;
}

.header-container {
  display: flex;
  width: 33%;
}

.header-container:nth-child(1) {
  padding-left: 20px;
  justify-content: flex-start;
}

.header-container:nth-child(2) {
  justify-content: center;
}

.header-container:nth-child(3) {
  height: 100%;
}

#home {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#logo {
  height: 40px;
  margin-right: 10px;
}

#search-container {
  display: flex;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  background-color: white;
  border-radius: 20px/50%;
  width: 350px;
}

input:not([type='submit']) {
  font-size: 18px;
  border-radius: 15px/50%;
  border: none;
  outline: none;
}

#search-container input {
  width: 330px;
}

#search-container button {
  display: flex;
  align-items: center;
  color: rgb(172, 172, 172);
  background: none;
  border: none;
}

#account {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  width: 100%;
  height: 100%;
}

#account a,
#account button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
  height: 100%;
  background: none;
  text-decoration: none;
  border: none;
}

#account a:hover,
#account button:hover {
  background: rgb(0, 0, 98);
}

.center-container {
  height: 87%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inside-center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  padding-top: 40px;
  padding-bottom: 30px;
  color: white;

  /* https://developer.mozilla.org/en-US/docs/Web/CSS/opacity */
  background: rgb(0 0 0 / 90%);
}

.inside-center-container h2 {
  margin: 40px;
  font-weight: bold;
  font-size: 85px;
}

.button-prim {
  text-decoration: none;
  color: white;
  font-size: 30px;
  width: 70%;
  text-align: center;

  /* https://www.w3schools.com/css/css3_gradients.asp */
  /* Idea came from chatGPT prompt to make login button more interesting */
  background: linear-gradient(to bottom, rgb(63, 63, 199), rgb(33, 33, 94));
  border: none;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.login-button-sec {
  color: rgb(185, 185, 185);
  text-decoration: underline;
  margin-top: 10px;
}

#login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#login label,
p {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#login input {
  width: 96%;
  padding-left: 10px;
  height: 30px;
}

#login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login button {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.error {
  margin-bottom: 0;
  color: red;
}

#account-container {
  height: 1000px;
  width: 90%;
  margin: auto;
  background-color: rgb(228, 247, 255);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

#map {
  height: 500px;
  width: 90%;
  margin: auto;
  border-bottom-style: solid;
  border-bottom-color: rgb(0, 29, 133);
  border-bottom-width: 5px;
}

#add-button-container {
  margin: 30px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add {
  font-size: 18px;
  width: 800px;
  display: grid;
  justify-items: right;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 40px);
  row-gap: 20px;
}

#add div {
  position: relative;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add input:not([type='submit']) {
  height: 30px;
  padding-left: 10px;
  margin-left: 15px;
  width: 250px;
}

select {
  font-size: 18px;
  border-radius: 15px/50%;
  height: 32px;
  padding-left: 10px;
  margin-left: 15px;
  width: 262px;
  border: none;
  outline: none;
}

#add input[type='number'] {
  width: 50px;
}

#add button,
#add a {
  text-align: center;
  font-size: 25px;
  margin: auto;
  width: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#add a {
  background: linear-gradient(to bottom, rgb(199, 63, 63), rgb(94, 33, 33));
}

#flights {
  font-size: 20px;
  width: 100%;
  border-collapse: collapse;
}

th {
  border: none;
  padding: 5px;
  text-align: start;
  background-color: rgb(125, 141, 147);
}

td {
  border: none;
  padding: 5px;
}

td i {
  color: grey;
}

td i:hover {
  cursor: grab;
  color: red;
}

#flights tr:nth-child(odd) {
  background-color: rgb(181, 199, 207);
}

#flights tr:nth-child(even) {
  background-color: rgb(207, 230, 239);
}

#summary-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-bottom: 20px;
}

#summary-container * {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#summary-container h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 65px;
}