body {
  font-family: Arial, Helvetica, sans-serif;

  /* https://www.w3schools.com/html/html_images_background.asp */
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  margin: 0px;
  height: 100vh;
  width: 100vw;
}

#header {
  display: flex;
  flex-direction: row;
  background-color: #154479;
  height: 80px;
  align-items: center;
  font-size: 25px;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-color: rgb(255, 240, 109);
  border-bottom-width: 5px;
}

.header-container {
  display: flex;
  width: 33%;
}

.header-container:nth-child(1) {
  padding-left: 20px;
  justify-content: flex-start;
}

.header-container:nth-child(2) {
  justify-content: center;
}

.header-container:nth-child(3) {
  height: 100%;
}

#home {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#home:hover {
  cursor: grab;
}

#logo {
  height: 40px;
  margin-right: 10px;
}

#search-container {
  display: flex;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  background-color: white;
  border-radius: 20px/50%;
  width: 350px;
}

input[type='text'],
input[type='password'] {
  font-size: 18px;
  border-radius: 15px/50%;
  border: none;
  outline: none;
}

#search-container input {
  width: 330px;
}

#search-container button {
  display: flex;
  align-items: center;
  color: rgb(172, 172, 172);
  background: none;
  border: none;
}

#search-container button:hover {
  cursor: grab;
}

#account {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  width: 100%;
  height: 100%;
}

#account a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
  height: 100%;
  width: 30%;
  background: none;
  text-decoration: none;
  border: none;
}

#account a:hover {
  background: rgb(0, 0, 98);
  cursor: grab;
}

.center-container {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inside-center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  padding-top: 40px;
  padding-bottom: 30px;
  color: white;

  /* https://developer.mozilla.org/en-US/docs/Web/CSS/opacity */
  background: rgb(0 0 0 / 90%);
}

.inside-center-container h2 {
  margin: 40px;
  font-weight: bold;
  font-size: 85px;
}

.login-button-prim {
  text-decoration: none;
  color: white;
  font-size: 30px;
  width: 70%;
  text-align: center;

  /* https://www.w3schools.com/css/css3_gradients.asp */
  /* Idea came from chatGPT prompt to make login button more interesting */
  background: linear-gradient(to bottom, rgb(63, 63, 199), rgb(33, 33, 94));

  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.login-button-sec {
  color: rgb(185, 185, 185);
  text-decoration: underline;
}

#login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#login p {
  font-size: 18px;
}

#login input {
  width: 96%;
  padding-left: 10px;
  height: 30px;
}

#login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:last-of-type */
#login input:last-of-type {
  margin-bottom: 20px;
}

#login a.login-button-prim {
  width: 100%;
  margin-bottom: 10px;
}